@import "../../../shared/global_styles/vars.module";

.topic__names{
  margin-bottom: 100px;
}

.list{
  display: flex;
}

.elem{
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover{
    color: $yandex_yellow_color;
  }
}