@import "../../shared/global_styles/vars.module";

.transitions__inner__horizontal{
  display: flex;
}

.transitions__inner__vertical{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid $yandex_yellow_color;
}