@font-face {
  font-family: 'YandexSansText_Bold';
  src: url('../../shared/fonts/YandexSansText-Bold.woff2') format('woff2'),
  url('../../shared/fonts/YandexSansText-Bold.woff') format('woff');
}

@font-face {
  font-family: 'YandexSansText_Regular';
  src: url('../../shared/fonts/YandexSansText-Regular.woff2') format('woff2'),
  url('../../shared/fonts/YandexSansText-Regular.woff') format('woff');
}
