@import "fonts.module";

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 20px;
  line-height: 32px;
  font-family: 'YandexSansText_Regular', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
  padding: 0;
}