

$yandex_yellow_color: #ffcc00;
$yandex_red_color: #FF0000;

%YandexSansText-700{
  font-family: 'YandexSansText-Bold', sans-serif;
  font-weight: 700;
}

%YandexSansText-400{
  font-family: 'YandexSansText_Regular', sans-serif;
  font-weight: 400;
}