.mainContainer{
  height: 650px;
  width: 1100px;
  display: flex;
  margin-right: 50px;
  cursor: pointer;
}

.window{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.all__pages__container{
  display: flex;
  height: 100%;
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}