.cell{
  width: 100%;
  height: 80px;
  padding: 25px 0;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  &:hover{
    .arrivalCity{
      color: #ffcc00;
    }
  }
}

.leftInner{
  display: flex;
  align-items: center;
}

.rightInner{
  display: flex;
  align-items: center;
}

.time{
  font-weight: 700;
  margin-right: 70px;
}

.arrivalCity{
  transition: all 0.3s;
  font-weight: 900;
  font-size: 32px;
}

.code{
  font-size: inherit;
  width: 50px;
}

.flt{
  font-weight: 900;
  width: 100px;
}

.term{
  font-weight: 900;
  width: 50px;
  margin-left: 50px;
}

.status{
  font-weight: 400;
  display: block;
  width: 200px;
  margin-left: 100px;
}

.cancel{
  color: #FF0000;
}