.topic__selecting{
  margin-bottom: 100px;
}

.list{
  display: flex;
  flex-wrap: wrap;
}

.elem{
  font-size: calc(32 * 1px + (90 - 32) * (100vw - 320 * 1px)/ (2880 - 320));
  margin-right: 70px;
  margin-bottom: 70px;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
  &__active{
    color: #ffcc00;
  }
  &:last-child{
    margin-bottom: 0;
  }
  &:hover{
    color: #ffcc00;
  }
}

.elem__trans{
  font-size: calc(44 * 1px + (180 - 44) * (100vw - 320* 1px) / (2560 - 320));
  padding: 100px 0;
}
