@import "../../global_styles/vars.module";



.header__title{
  color: #ffffff;
  font-size: 256px;
  margin-bottom: 425px;
  font-family: "YandexSansDisplay_Bold", sans-serif;
}

.span{
  color: $yandex_red_color;
}